@Model IEnumerable</AppWeb_601_juanjoseortagagarcia.Models.Producto>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5 class="alert alert-primary text-center">

                Lista de productos 

            </h5>

        </div>
        <div class="col-12">
            <div class="float-lg-end">
                <a asp-controller="Home" class="btn btn-success" asp-action="Create" >
                    Agregar
                </a>

            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                </div>

            </div>

        </div>

    </div>

</div>